*{
    margin: 0;
    padding: 0;
}
body{
   justify-content: center;
   align-items: center;
   display: grid;
   margin-top: 30px;
   
}

#weather-info{
   
    margin-top: 60px;
    
}
h1{
    border-style: dotted;
}